.container {
  background-color: black;
  padding: 10px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.295);
}

.main {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 1260px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

.content {
  display: grid;
  grid-template-columns: repeat(8, [col-start] min-content [col-end]);
  column-gap: 10px;
}

.companyName {
  font-weight: bold;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20px;
  margin-right: 20px;
}

.login {
  text-align: right;
  display: grid;
  grid-template-columns: max-content max-content;
  width: min-content;
  margin-left: auto;
}

.button {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.button:hover {
  color: gray;
  cursor: pointer;
}

.selectedButton {
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  color: gray;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

@media screen and (max-width: 780px) {
  .container {
    width: 90%;
  }
}
