.signInButton {
  background-color: transparent;
  border: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.signInButton:hover {
  color: lightgray;
  cursor: pointer;
}

.input {
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: black;
  color: gray;
}

.content {
  width: 200px;
  background-color: rgb(29, 29, 29);
}

.header {
  color: white;
  font-weight: bold;
  font-size: 18px;
}
