#root {
  min-height: 100vh;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #2424249f;

  font-synthesis: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  height: fit-content;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;

  background-image: url("./images/newBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
